.accountInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 50%;
    font-size: 1.6vw;
    text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
    color: rgb(209, 244, 233);
    background-color: transparent;


    .accountInfoContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5vh;

        .accountInfoTitle{
            display: block;
            position: relative;
            text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 1px rgb(163, 232, 248), 0px 0px 2px rgb(149, 244, 233);
        }
        .accountInfoContent{
            display: block;
            position: relative;
        }
    }
}
