@mixin pad{
    @media(max-width: 1000px){
        @content;
    }
}
@mixin mid{
    @media(max-width: 800px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 600px){
        @content;
    }
}
.ContractTokenIdBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 35%;
    font-size: 2vw;
    text-shadow: 0px 0px 0px white, 0px 0px 5px white, 0px 0px 10px white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 0px white, 0px 0px 15px white, 0px 0px 30px white;
    background-color: rgba(20, 20, 50, 0.5);
    backdrop-filter: blur(30px);
    z-index: 93;

    @include pad{
        height: 80%;
        width: 45%;
        font-size: 2.2vw;
    }
    @include mid{
        height: 70%;
        width: 65%;
        font-size: 2.6vw;
    }
    @include mobile{
        height: 65%;
        width: 80%;
        font-size: 4.4vw;
    }

    svg{
        display: block;
        position: relative;
        margin: 0px;
        width: 10%;
        height: 10%;
        @include pad{
            width: 12%;
            height: 12%;
        }
        @include mid{
            width: 15vw;
            height: 15vw;
        }
        @include mobile{
            width: 20vw;
            height: 20vw;
        }
    }
    input{
        display: block;
        width: 50%;
        padding: 1vh 2vh;
        margin-top: 4vh;
        margin-bottom: 1vh;
        border-radius: 1vw;
        font-size: 1.2vw;
        background-color: rgba(30, 30, 70, 0.2);
        backdrop-filter: blur(20px);
        color: white;
        outline: none;
        border: none;
        box-shadow: 0px 0px 5px white, 0px 0px 8px white;
        @include pad{
            font-size: 2.2vw;
            padding: 1vh 2vh;
        }
        @include mid{
            font-size: 2.6vw;
            padding: 1vh 2vh;
        }
        @include mobile{
            font-size: 4.4vw;
            padding: 1vh 2vh;
        }
    }

    .token_id{
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 1.2vw;
        padding-top: 2vh;
        padding-bottom: 1.5vh;
        text-shadow: none;
        @include pad{
            font-size: 1.8vw;
            padding-top: 2vh;
            padding-bottom: 1.5vh;
        }
        @include mid{
            font-size: 2.6vw;
            padding-top: 1.5vh;
            padding-bottom: 1vh;
        }
        @include mobile{
            font-size: 4vw;
            padding-top: 1vh;
            padding-bottom: 0.5vh;
        }
    }

    div{
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 1.4vw;
        padding-top: 3vh;
        padding-bottom: 0vh;
        text-shadow: none;
        @include pad{
            font-size: 2vw;
            padding-top: 2vh;
        }
        @include mid{
            font-size: 2.8vw;
            padding-top: 1.5vh;
        }
        @include mobile{
            font-size: 4vw;
            padding-top: 2vh;
        }
    }
}

.ContractTokenIdBlockMask{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 92;
}