@mixin pad{
    @media(max-width: 1000px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 600px){
        @content;
    }
}
.NFTCollectionView{
    display: block;
    position: absolute;
    width: calc( 100% - 20vw );
    height: calc( 100% - 14vh );
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 14vh;
    overflow-y: scroll;
    overflow-x: hidden;

    @include pad{
        width: calc( 100% - 20vw );
        padding-left: 10vw;
        padding-right: 10vw;
    }
    @include mobile{
        width: calc( 100% - 24vw );
        padding-left: 12vw;
        padding-right: 12vw;
    }

    &::-webkit-scrollbar{
        width: 5px;
        height: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
        width: 10px;
        height: 5px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 0px white, 0px 0px 3px white, 0px 0px 5px white;
    }

    .NFTCollection{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        height: auto;
        padding-bottom: 8vw;
    }
}

.NextpageNFTButton{
    display: block;
    position: relative;
    margin-left: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 0.7vw 1.5vw;
    font-size: 1.8vw;
    text-shadow: 0px 0px 0px white, 0px 0px 5px white, 0px 0px 10px white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 0px white, 0px 0px 5px white, 0px 0px 10px white;
    cursor: pointer;

    &:hover{
        transform: scale(0.95);
        box-shadow: 0px 0px 0px white, 0px 0px 10px white, 0px 0px 30px white;
    }

    @include pad{
        padding: 1vw 2vw;
        font-size: 2.6vw;
    }
    @include mobile{
        padding: 2vw 4vw;
        font-size: 4vw;
    }
}

.refreshNFTsButton{
    display: block;
    text-align: center;
    position: fixed;
    width: 7vw;
    top: 12%;
    left: 10px;
    font-size: 1.5vw;
    text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
    cursor: pointer;
    @include pad{
        font-size: 2vw;
    }
    @include mobile{
        font-size: 3vw;
    }

    svg{
        width: 1.2vw;
        height: 1.2vw;

        @include pad{
            width: 1.8vw;
            height: 1.8vw;
        }
        @include mobile{
            width: 1.2vh;
            height: 1.2vh;
        }
    }
    
    &:hover{
        text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 15px rgb(163, 232, 248), 0px 0px 20px rgb(149, 244, 233);
    }
    &:hover svg{
        transition: all 1s;
        transform: rotate(180deg);
    }
}