@mixin pad{
    @media(max-width: 1000px){
        @content;
    }
}
@mixin mid{
    @media(max-width: 800px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 600px){
        @content;
    }
}
.NFTInfoBlock{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    font-size: 1.8vw;
    text-shadow: 0px 0px 0px white, 0px 0px 5px white, 0px 0px 10px white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
    background-color: rgba(20, 20, 50, 0.5);
    backdrop-filter: blur(30px);
    z-index: 91;
    
    @include pad{
        height: 75%;
        width: 75%;
        font-size: 2.2vw;
    }
    @include mid{
        height: 70%;
        width: 80%;
        font-size: 2.6vw;
        flex-direction: column;
    }
    @include mobile{
        height: 80%;
        width: 90%;
        font-size: 4vw;
        flex-direction: column;
    }

    .NFTInfoImgContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40%;
        height: 100%;
        @include pad{
            width: 40%;
            height: 100%;
        }
        @include mid{
            width: 100%;
            height: 50%;
        }
        @include mobile{
            width: 100%;
            height: 40%;
        }
        
        .NFTInfoImg{
            display: block;
            position: relative;
            width: 80%;
            height: 60%;
            @include pad{
                padding: 1%;
            }
            @include mid{
                padding: 2%;
            }
            @include mobile{
                padding: 1%;
            }

            img{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }
    
            video{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }
            svg{
                width: 80%;
                height: 80%;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                filter: brightness(0.8);
                opacity: 0.3;
            }
        }

        .NFTInfoName{
            display: block;
            text-align: center;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80%;
            height: 30px;
            margin-top: 10%;
            font-size: 1.4vw;
            line-height: 1.4vw;
            white-space: nowrap;
            text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
            color: rgb(209, 244, 233);
            @include pad{
                margin-top: 5%;
                font-size: 2vw;
                line-height: 2vw;
            }
            @include mid{
                margin-top: 1%;
                font-size: 2.6vw;
                line-height: 2.6vw;
            }
            @include mobile{
                margin-top: 3%;
                font-size: 4vw;
                line-height: 4vw;
            }
        }

        .NFTInfoTokenId{
            display: block;
            text-align: center;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80%;
            height: 30px;
            margin-top: 5%;
            font-size: 1.4vw;
            line-height: 1.4vw;
            white-space: nowrap;
            text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
            color: rgb(209, 244, 233);
            @include pad{
                margin-top: 3%;
                font-size: 2vw;
                line-height: 2vw;
            }
            @include mid{
                margin-top: 1%;
                font-size: 2.6vw;
                line-height: 2.6vw;
            }
            @include mobile{
                margin-top: 1%;
                font-size: 4vw;
                line-height: 4vw;
            }
        }
    }


    .NFTInfoContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        mask-image: linear-gradient(to top,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
        -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);

        @include pad{
            width: 60%;
            height: 100%;
        }
        @include mid{
            width: 100%;
            height: 50%;
        }
        @include mobile{
            width: 100%;
            height: 60%;
        }

        .NFTInfoDetailContainer{
            display: block;
            position: relative;
            width: calc( 100% - 4vw );
            height: calc( 80% - 6vw );
            padding: 1vw;
            margin: 1vw;
            margin-top: 3vw;
            overflow-y: scroll;
            overflow-wrap: break-word;
    
            &::-webkit-scrollbar{
                width: 5px;
                height: 8px;
                background-color: transparent;
            }
        
            &::-webkit-scrollbar-thumb{
                width: 10px;
                height: 5px;
                border-radius: 10px;
                background-color:rgb(209, 244, 233);
                box-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
            }
    
            div{
                position: relative;
                display: flex;
                flex-direction: row;
                padding-top: 3vh;
                padding-bottom: 3vh;
                font-size: 1.4vw;
                overflow-wrap: anywhere;
                word-break: break-all;
                @include pad{
                    font-size: 1.8vw;
                }
                @include mid{
                    font-size: 2.6vw;
                }
                @include mobile{
                    font-size: 4vw;
                }

                .token_address{
                    color: rgb(163, 232, 248);
                    text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 1px rgb(163, 232, 248);
                    cursor: pointer;
                    &:hover{
                        text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
                        color: rgb(209, 244, 233);
                    }
                }
    
                span{
                    display: block;
                    width: 20vw;
                    margin-right: 2vw;
                    text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
                    color: rgb(209, 244, 233);
                    @include pad{
                        width: 30vw;
                    }
                    @include mid{
                        width: 40vw;

                    }
                    @include mobile{
                        width: 50vw;
                    }
                }
                p{
                    display: block;
                    text-align: center;
                    width: -moz-available;
                    width: -webkit-fill-available; 
                    width: fill-available;
                    margin: 0 auto;
                    text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 1px rgb(163, 232, 248);
                }
            }

            .NFTDetailTitle{
                display: flex;
                width: 100%;
                justify-content: center;
                font-size: 1.6vw;
                padding-top: 8vh;
                padding-bottom: 2vh;
                text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
                color: rgb(209, 244, 233);

                @include pad{
                    font-size: 2vw;
                }
                @include mid{
                    font-size: 2.8vw;
                    padding-top: 4vh;
                    padding-bottom: 1vh;
                }
                @include mobile{
                    font-size: 4vw;
                    padding-top: 2vh;
                    padding-bottom: 1vh;
                }

                span{
                    text-align: center;
                }
            }
            .NFTDetailContent{
                display: flex;
                width: 100%;
                justify-content: center;
                font-size: 1.4vw;
                padding-top: 2vh;
                padding-bottom: 2vh;
                text-shadow: none;
                @include pad{
                    font-size: 1.8vw;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                }
                @include mid{
                    font-size: 2.4vw;
                    padding-top: 1vh;
                    padding-bottom: 1vh;
                }
                @include mobile{
                    font-size: 3.4vw;
                    padding-top: 1vh;
                    padding-bottom: 1vh;
                }
            }
        }
    
        .NFTInfoController{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            height: 20%;
            margin-right: 3vw;
            font-size: 1.4vw;
            @include pad{
                font-size: 2vw;
            }
            @include mid{
                font-size: 2.6vw;
            }
            @include mobile{
                font-size: 4vw;
            }
    
            div{
                display: block;
                position: relative;
                padding: 0.5vw 1.5vw;
                margin-right: 2vw;
                border: 1px solid white;
                border-radius: 10px;
                cursor: pointer;

                @include pad{
                    padding: 0.8vw 1.6vw;
                }
                @include mid{
                    padding: 1vw 2vw;
                }
                @include mobile{
                    padding: 1vh 2vh;
                }

                &:hover{
                    transform: scale(0.95);
                    box-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
                    text-shadow: 0px 0px 0px rgb(178, 214, 255), 0px 0px 5px rgb(163, 232, 248), 0px 0px 10px rgb(149, 244, 233);
                    color: rgb(209, 244, 233);
                }
            }
        }
    }
}

.NFTInfoBlockMask{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
}