@mixin pad{
    @media(max-width: 1000px){
        @content;
    }
}
@mixin mid{
    @media(max-width: 800px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 600px){
        @content;
    }
}
.TransactionNFTBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 35%;
    font-size: 1.8vw;
    text-shadow: 0px 0px 0px white, 0px 0px 5px white, 0px 0px 10px white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 0px white, 0px 0px 15px white, 0px 0px 30px white;
    background-color: rgba(20, 20, 50, 0.5);
    backdrop-filter: blur(30px);
    z-index: 93;

    @include pad{
        height: 40%;
        width: 45%;
        font-size: 2.2vw;
    }
    @include mid{
        height: 50%;
        width: 65%;
        font-size: 2.6vw;
    }
    @include mobile{
        height: 45%;
        width: 80%;
        font-size: 4.4vw;
    }

    input{
        display: block;
        width: 50%;
        padding: 1vh 2vh;
        margin-top: 4vh;
        margin-bottom: 1vh;
        border-radius: 1vw;
        background-color: rgba(30, 30, 70, 0.2);
        backdrop-filter: blur(20px);
        font-size: 1.2vw;
        color: white;
        outline: none;
        border: none;
        box-shadow: 0px 0px 5px white, 0px 0px 8px white;

        @include pad{
            margin-top: 3vh;
            margin-bottom: 1vh;
            font-size: 1.8vw;
            border-radius: 1.2vw;
        }
        @include mid{
            margin-top: 2vh;
            margin-bottom: 1vh;
            font-size: 2.8vw;
            border-radius: 2.4vw;
        }
        @include mobile{
            margin-top: 1vh;
            margin-bottom: 0.5vh;
            font-size: 4vw;
            border-radius: 1vh;
        }
    }


    .TransactionNFTButton{
        display: flex;
        text-align: center;
        font-size: 1.4vw;
        line-height: 1.4vw;
        padding: 0.5vw 1.6vw;
        padding-bottom: 15px;
        border: 1px white solid;
        border-radius: 20px;
        box-shadow: 0px 0px 0px white, 0px 0px 5px white, 0px 0px 10px white;
        cursor: pointer;

        @include pad{
            font-size: 1.8vw;
            line-height: 1.8vw;
            padding: 1vw 2vw;
        }
        @include mid{
            font-size: 2.6vw;
            line-height: 2.6vw;
            padding: 1.4vw 2.8vw;
        }
        @include mobile{
            font-size: 4vw;
            line-height: 4vw;
            padding: 1vh 2vh;
        }

        &:hover{
            background-color: rgba(20, 20, 50);
            transform: scale(0.95);
        }
    }
}

.TransactionNFTBlockMask{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 92;
}