@font-face {
    font-family: 'iansui';
    src: url('../assets/fonts/Iansui092-Regular.woff2') format('woff2');
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#root{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'iansui';
    color: #dddddd;
}